<!DOCTYPE html>
<html lang="en">
<align=justify>
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Add New Order</title>
</head>

<body bgcolor="black">
    <form method="POST" class="post-form" action="/order/add">
        {% csrf_token %}  
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3><font size=5>Enter New Order Details</font></h3>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-4">
                        <h3><font size=5></font></h3>
                    </div>
            </div>
              </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label"><b>Order Details</b></label>
                </div>


            <div class="form-group row">
                <label  class="col-sm-2 col-form-label">Customer Email:</label>
                <div class="col-sm-4">
                    <input type="email" name="emailAddress" id="id_emailAddress" required maxlength="100"
                        value="" />
               
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">OrderId:</label>
                <div class="col-sm-4">
                    <input type="text" name="orderId" id="id_order" required maxlength="100"
                        value="" />
               
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">EmployeeUserName</label>
                <div class="col-sm-4">
                    <input type="email" name="employeeUserName" id="id_employeeUserName" required maxlength="100"
                        value="employee-LeonardoDiCaprio@gmail.com" readonly>
               <!-- for now assuming employee is logged in the value should be taken from logged in user -->
            </div>


                 <!-- Delivery Address -->

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><b>Delivery Address</b></label>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Name:</label>
                <div class="col-sm-4">
                    <input type="text" name="dName" id="id_dName" required maxlength="254"
                        value="" />
                </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Street:</label>
                <div class="col-sm-4">
                    <input type="text" name="dStreet" id="id_dStreet" required maxlength="254"
                        value="" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">City: </label>
                <div class="col-sm-4">
                    <input type="text" name="dCity" id="id_dCity" required maxlength="254"
                        value="" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Province:</label>
                <div class="col-sm-4">
                    <input type="text" name="dProvince" id="id_dProvince" required maxlength="254"
                        value="" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Zip:</label>
                <div class="col-sm-4">
                    <input type="text" name="dZip" id="id_dZip" required maxlength="254"
                        value="" />
                </div>
            </div>
 
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">MobileNumber:</label>
                <div class="col-sm-4">
                    <input type="tel" name="dMobileNumber" id="id_dMobileNumber" required maxlength="254"
                        value="" />
                </div>
            </div><br>

<!-- Billing Address -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><b>BillingAddress</b></label>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Name:</label>
                <div class="col-sm-4">
                    <input type="text" name="bName" id="id_bName" required maxlength="254"
                        value="" />
                </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Street:</label>
                <div class="col-sm-4">
                    <input type="text" name="bStreet" id="id_bStreet" required maxlength="254"
                        value="" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">City:</label>
                <div class="col-sm-4">
                    <input type="text" name="bCity" id="id_bCity" required maxlength="254"
                        value="" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Province:</label>
                <div class="col-sm-4">
                    <input type="text" name="bProvince" id="id_bProvince" required maxlength="254"
                        value="" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Zip:</label>
                <div class="col-sm-4">
                    <input type="text" name="bZip" id="id_bZip" required maxlength="254"
                        value="" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">mobileNumber:</label>
                <div class="col-sm-4">
                    <input type="text" name="bMobileNumber" id="id_bMobileNumber" required maxlength="254"
                        value="" />
                </div>

                      
              <!-- Payment Method -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><b>Payment Method </b></label>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">PaymentType:</label>
                <div class="col-sm-4">
                    <input type="text" name="paymentType" id="id_paymentType" required maxlength="254"
                        value="" />
                </div>
            </div>
           
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">CardScheme:</label>
                <div class="col-sm-4">
                    <input type="text" name="cardScheme" id="id_cardScheme" required maxlength="254"
                        value="" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">CardLast4:</label>
                <div class="col-sm-4">
                    <input type="text" name="cardLast4" id="id_cardLast4" required maxlength="254"
                        value="" />
                </div>
            </div>
<!-- totalQty, orderTotal, grossTotal, tax and deliveryFee -->

            <div class="form-group row">
                <label class="col-sm-5 col-form-label"><b>Total Qty</b></label>
            </div>
       <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Total Qty:</label>
            <div class="col-sm-4">
                <input type="number" name="totalQty" id="id_totalQty" required maxlength="100"
                    value="" />
                </div></div>

                <div class="form-group row">
                    <label class="col-sm-5 col-form-label"><b>Order Total</b></label>
                </div>
           <div class="form-group row">
                <label  class="col-sm-2 col-form-label">Order Total:</label>
                <div class="col-sm-4">
                    <input type="number" step=0.01 name="orderTotal" id="id_orderTotal" required maxlength="100"
                        value="" />
                    </div></div>

           
            <div class="form-group row">
                            <label class="col-sm-5 col-form-label"><b>Gross Total</b></label>
                        </div>
                   <div class="form-group row">
                        <label  class="col-sm-2 col-form-label">Gross Total:</label>
                        <div class="col-sm-4">
                            <input type="number" step=0.01 name="grossTotal" id="id_grossTotal" required maxlength="100"
                                value="" />

                            </div></div>
        
         <div class="form-group row">
                            <label class="col-sm-5 col-form-label"><b>Tax</b></label>
                        </div>
                   <div class="form-group row">
                        <label  class="col-sm-2 col-form-label">Tax:</label>
                        <div class="col-sm-4">
                            <input type="number" step=0.01 name="tax" id="id_tax" required maxlength="100"
                                value="" />

                            </div></div>
           <!-- Delivery fee -->
            <div class="form-group row">
                            <label class="col-sm-5 col-form-label"><b>Delivery Fee</b></label>
                        </div>
                   <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Delivery Fee:</label>
                        <div class="col-sm-4">
                            <input type="number" step=0.01 name="deliveryFee" id="id_deliveryFee" required maxlength="100"
                                value="" />
            <!-- Order details -->
                            </div></div>
                <div class="form-group row">
                            <label class="col-sm-5 col-form-label"><b>Order Details</b></label>
                        </div>
            
                    <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">ProductId:</label>
                                <div class="col-sm-4">
                                    <input type="TEXT" name="productId" id="id_productId" required maxlength="100"
                                        value="" />
                                    </div></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Product Name:</label>
                        <div class="col-sm-4">
                            <input type="TEXT" name="productName" id="id_productName" required maxlength="100"
                                value="" />
                            </div></div>
                    <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Quantity:</label>
                                <div class="col-sm-4">
                                    <input type="number" name="quantity" id="id_quantity" required maxlength="100"
                                        value="" />
                                    </div></div>
                    <div class="form-group row">
                                        <label  class="col-sm-2 col-form-label">Price:</label>
                                        <div class="col-sm-4">
                                            <input type="number" step=0.01 name="price" id="id_price" required maxlength="100"
                                                value="" />
                                            </div></div>
                    <div class="form-group row">
                                        <label  class="col-sm-2 col-form-label">SubTotal:</label>
                                        <div class="col-sm-4">
                                                 <input type="number" step=0.01 name="subTotal" id="id_subTotal" required maxlength="100"
                                                        value="" />
                                                    </div></div>

                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label"><b>Order Date</b></label>
                                        </div>
                    <div class="form-group row">
                                        <label  class="col-sm-2 col-form-label">Order Date:</label>
                                        <div class="col-sm-4">
                                        <input type="datetime-local" name="orderDate" id="id_orderDate" required maxlength="100"
                                                                        value="" />
                                                                    </div></div>

                                                                    <div class="form-group row">
                                                                        <label class="col-sm-5 col-form-label"><b>Order Status</b></label>
                                                                            </div>
                                                        <div class="form-group row">
                                                                            <label  class="col-sm-2 col-form-label">Order Status:</label>
                                                                            <div class="col-sm-4">
                                                                            <input type="TEXT" name="orderStatus" id="id_orderStatus" required maxlength="100"
                                                                                                            value="" />
                                                                                                        </div></div>

            <div class="form-group row">
                            <label class="col-sm-5 col-form-label"><b>Status Date</b></label>
                        </div>
                            <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Status Date:</label>
                            <div class="col-sm-4">
                                        <input type="datetime-local" name="statusDate" id="id_statusDate" required maxlength="100"
                                     value="" />
                    </div></div>  
                            </div></div>
        
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</body>

</html>