<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Product Reviews</title>
</head>

<body>

        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Product Review Details</h3>
                
                </div>
            </div>
            <br>
            <div class="col-sm-4"></div>
            <!-- <font size=5>  Required fields </font> -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><b>Product ID</b></label>
            </div>        
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">ProductID:</label>
                <div class="col-sm-4">
                
                    <input type="test" name="ProductID" id="id_ProductID" required maxlength="100"
                        value="{{ reviews_info.productId }}" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><b>Review Details</b></label>
            </div>  

            {% for reviewDetails in reviews_info.reviewDetails %}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Review ID:</label>
                <div class="col-sm-4">
                    <input type="text" name="reviewId" id="id_reviewId" required maxlength="15"
                        value="{{ reviewDetails.reviewId }}" readonly>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Order ID:</label>
                <div class="col-sm-4">
                    <input type="text" name="orderId" id="id_orderId" required maxlength="254"
                        value="{{ reviewDetails.orderId }}" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Post Date: {{ reviewDetails.postDate }}</label>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Rating:</label>
                <div class="col-sm-4">
                    <input type="text" name="rating" id="id_rating" required maxlength="254"
                        value="{{ reviewDetails.rating }}" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Review Comment:</label>
                <div class="col-sm-4">
                    <input type="text" name="reviewText" id="id_reviewText" required maxlength="254"
                        value="{{ reviewDetails.reviewText }}" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email address:</label>
                <div class="col-sm-4">
                    <input type="text" name="emailAddress" id="id_emailAddress" required maxlength="254"
                        value="{{ reviewDetails.emailAddress }}" readonly>
                </div>
            </div>
            <br>
            {% endfor %}

            <br>
            <!-- <div class="form-group row">
                <label class="col-sm-2 col-form-label"><b>Total Ratings</b></label>
            </div>        -->
            <div class="form-group row">
                <!-- <label class="col-sm-2 col-form-label">Total Ratings:</label>
                <div class="col-sm-4">
                    <input type="number" name="totalRatings" id="id_totalRatings" required maxlength="15"
                        value="{{ form.totalRatings }}" readonly>
                </div> -->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><b>Rating Count</b></label>
                </div>       
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Rating Count:</label>
                    <div class="col-sm-4">
                        <input type="number" name="ratingCount" id="ratingCount" required maxlength="15"
                            value="{{ reviews_info.ratingCount }}" readonly>
                    </div>


                    <center><a href="/review/show/all" class="btn btn-primary">Go Back</a></center>
        </div>

</body>

</html>